.galery img {
    width: 100%;
    min-width: 100px;
    max-width: 300px;
    margin-top: 30px;
    margin-right: 30px;
}

.sunset img {
    display: flex;
    margin: auto;
    margin-top: 40px;
    width: 350px;
    border-radius: 0px 0px 20px 10px;
    box-shadow: 2px 2px 2px 0px #ffe51d78, 14px 15px 12px 0px#f09a2a91;
}

.nature {
    box-shadow: 2px 2px 2px 0px #b7ff1d50, 14px 15px 12px 0px#f3db068a;
}

.urbex {
    box-shadow: 2px 2px 2px 0px #26272550, 14px 15px 12px 0px#351dc08a;
}

.cars {
    box-shadow: 2px 2px 2px 0px #0b7feb3f, 14px 15px 12px 0px#05ebcc42;
}

.returns {
    width: 100%;
    min-width: 70px;
    max-width: 70px;
    margin-top: 40px;
}

.deco {
    width: 100%;
    min-width: 40px;
    max-width: 40px;
    margin-left: 30px;
}

.Edit {
    margin-left: 20px;
}

.deconnexion {
    margin-left: 20px;
}