  #logo {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
  }
  
  #nav {
      border: solid 2px;
      border-color: rgba(15, 221, 240, 0.589) rgba(218, 34, 251, 0.63) rgba(137, 7, 170, 0.739) rgba(67, 70, 231, 0.377);
  }
  
  a {
      color: black;
  }
  
  a:hover {
      color: purple;
      font-size: 25px;
  }
  
  #accueil {
      font-size: 25px;
  }
  
  #accueil:hover {
      font-size: 30px;
  }
  
  .alert {
      text-align: center;
  }
  
  h3 {
      text-decoration: underline;
      text-align: center;
      text-decoration-color: rgb(51, 112, 153);
      font-style: italic;
      margin-top: 90px;
  }
  
  input {
      border-radius: 10px 0px;
      margin-top: 15px;
      margin-left: 20px;
      margin-right: 20px;
  }
  
  label {
      font-size: 16px;
      color: rgb(173, 49, 91);
      text-align: center;
  }
  
  body {
      background-image: url(https://image.freepik.com/free-photo/abstract-multi-color-powder-explosion-white-background-painted-holi-festival_36326-2337.jpg);
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  button {
      background-color: #a2e6d0;
      background-image: linear-gradient(315deg, #a2e6d0 23%, #d6da7a 39%, #e5ff47 55%, #ea55ff 86%);
      border-radius: 10px 0px 10px 0px;
      border-color: rgba(15, 221, 240, 0.589) rgba(218, 34, 251, 0.63) rgba(137, 7, 170, 0.739) rgba(67, 70, 231, 0.377);
  }
  
  .card-groups,
  .card-deck {
      margin-top: 50px;
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }
  
  .card {
      width: 100%;
      min-width: 100px;
      max-width: 300px;
      margin: 0 30px;
      margin-top: 25px;
      background: transparent;
      border: none;
      border-radius: calc(.25rem - 1px);
      border-color: rgba(17, 65, 143, 0.486) rgba(150, 15, 240, 0.589) rgba(162, 9, 250, 0.377) rgba(32, 123, 226, 0.561);
      box-shadow: 2px 2px 2px 0px #0000002b, 4px 8px 9px 0px #0000002b;
      border: 4px solid white;
  }
  
  .connexionView {
      display: flex;
      justify-content: center;
      border: solid rgba(218, 218, 218, 0.63);
      border-color: rgba(15, 221, 240, 0.589) rgba(218, 34, 251, 0.63) rgba(137, 7, 170, 0.739) rgba(67, 70, 231, 0.377);
      box-shadow: 2px 2px 2px 0px #0000002b, 4px 8px 9px 0px #0000002b;
      margin: auto;
      margin-top: 50px;
      width: 100%;
      min-width: 100px;
      max-width: 400px;
  }
  
  .inscriptionView {
      display: flex;
      justify-content: center;
      border: solid rgba(218, 218, 218, 0.63);
      border-color: rgba(218, 34, 251, 0.63) rgba(15, 221, 240, 0.589) rgba(67, 70, 231, 0.377) rgba(137, 7, 170, 0.739);
      box-shadow: 3px 3px 3px 0px #0000002b, 4px 8px 9px 0px #0000002b;
      background-color: rgba(255, 235, 205, 0.328);
      margin: auto;
      margin-top: 50px;
      width: 100%;
      min-width: 100px;
      max-width: 500px
  }
  
  .welcome {
      text-decoration: underline;
      font-size: 35px;
      margin-bottom: 50px;
      margin-left: 100px;
  }
  
  .user_profil {
      font-size: 25px;
      margin-bottom: 10px;
      margin-left: 20px;
  }
  
  span {
      text-decoration: underline;
      font-size: 22px;
      color: #9d24be;
      margin-left: 20px;
  }