@import "_layout.css";
@import "_layout_formulaires.css";
@import "_layout_cards.css";
@import "_layout_carouselHome.css";
@import "_layout_Management.css";
@import "_layout_img.css";
.nav {
    margin-top: 50px;
    box-shadow: 2px 2px 2px 0px #0000002b, 14px 15px 12px 0px#c77f3760;
}

#accueil {
    font-size: 25px;
}

#accueil:hover {
    font-size: 30px;
}

.welcome {
    margin-top: 40px;
    margin-left: 20px;
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(182, 131, 37);
    font-size: 30px;
}

.alert {
    font-size: 25px;
}

.user_profil {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 25px;
}

a {
    color: black;
}

a:hover {
    color: rgba(226, 171, 20, 0.842);
}

h3 {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: rgb(182, 131, 37);
}

label {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: rgb(112, 79, 18);
}

button {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(255, 246, 236, 1) 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
    border-radius: 10px 0px 10px 0px;
    border-color: rgba(240, 187, 15, 0.589)
}

span {
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
    color: rgb(112, 79, 18);
}